bs4
datetime
html5lib
lxml
matplotlib
mplfinance
numpy
opencv-python
pandas
requests
scikit-image
scikit-learn
seaborn
statsmodels
streamlit
streamlit-drawable-canvas
sympy
tensorflow-cpu
yfinance